[color]
	ui = auto
[user]
	name = Neil Traft
	email = ntraft@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
	st = status -sb
	ci = commit
	co = checkout
	di = diff
	br = branch
	aa = add --all
	au = add -u
	sh = show --name-status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --all
	gpull = git stash apply && git pull --rebase && git stash pop
[push]
	default = upstream
[pull]
	rebase = true
[merge]
	defaultToUpstream = true
	conflictstyle = diff3
