# For stupid goddamn LaTeX files
*.aux
*.synctex.gz
*.log
*.out
*.bbl
*.blg

# Backup/Autosave files
*~
*.asv
*.swp

# Mac meta files
.DS_Store

# IntelliJ project files
.idea/misc.xml
.idea/workspace.xml

# Eclipse project files
.metadata
.cproject
.project
.pydevproject
.settings

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Compiled Python files
*.pyc

