[color]
	ui = auto
[user]
	name = Neil Traft
	email = ntraft@gmail.com
[core]
	excludesfile = /Users/ntraft/.gitignore
[alias]
	st = status -sb
	ci = commit
	co = checkout
	di = diff
	br = branch
	aa = add --all
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --all
[push]
	default = current
[merge]
[merge]
	defaultToUpstream = true
	conflictstyle = diff3
