[color]
	ui = auto
[user]
	name = Neil Traft
	email = ntraft@gmail.com
[core]
	excludesfile = /Users/ntraft/.gitignore
[alias]
	st = status -sb
	ci = commit
	co = checkout
	di = diff
	br = branch
	aa = add --all

[push]
	default = simple
