[Desktop Entry]
Name=Eclipse 
Type=Application
Exec=env UBUNTU_MENUPROXY=0 eclipse
Terminal=false
Icon=eclipse
Comment=Eclipse is an integrated development environment.
NoDisplay=false
Categories=Development;IDE;
Name[en]=Eclipse
