[Desktop Entry]
Name=Eclipse 
Type=Application
Exec=env UBUNTU_MENUPROXY=0 eclipsek
Terminal=false
Icon=/opt/eclipse-kepler/icon.xpm
Comment=Eclipse IDE
NoDisplay=false
Categories=Development;IDE;
Name[en]=Eclipse
X-Desktop-File-Install-Version=0.20
